{% extends 'base.html' %}
{% load static %}


{% block content %}



  <section class="ftco-section ftco-cart">
          <div class="container">
             <h4 class="mb-3">Review Your Order and Make Payment</h4>
              <div class="row">
              
              <aside class="col-lg-8 ftco-animate">
                
                    <div class="card">
                        <div class="card-header">
                          <b>Billing Address</b>
                        </div>
                        <div class="card-body">
                          <p class="card-text mb-0">{{ order.full_name }}</p>
                          <p class="card-text mb-0">{{ order.full_address }}</p>
                          <p class="card-text mb-0">{{ order.city }}</p>
                          <p class="card-text mb-0">{{ order.state }}</p>
                          <p class="card-text mb-0">{{ order.country }}</p>
                          <p class="card-text mb-0">{{ order.email }}</p>
                          <p class="card-text mb-0">{{ order.phone }}</p>
                          {% if order.order_note %}
                          <b>Order Note: </b>{{ order.order_note }}
                          {% endif %}
                        </div>
                      </div>
                
                      <div class="card">
                        <div class="card-header">
                          <b>Payment Method</b>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Razorpay</p>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header">
                          <b>Review Products</b>
                        </div>
                        <div class="card-body">
                          <article class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    {% for cart_item in cart_items %}
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-4">
                                            <div class="aside">
                                                <img src="{{ cart_item.product.images.url }}" class="border img-sm" width="75" height="75">
                                            </div>
                                            <figcaption class="info">
                                                <p class="card-text mb-0">{{ cart_item.product.product_name }}</p>
                                                <span class="card-text mb-0">{{ cart_item.quantity }}x = &#8377;{{ cart_item.sub_total }}</span>
                                                <p class="text-muted mb-0">&#8377;{{ cart_item.product.price }} each</p>
                                            </figcaption>
                                        </figure>
                                    </div> <!-- col.// -->
                                    {% endfor %}
                                </div> <!-- row.// -->
                            </div> <!-- card-body.// -->
                        </article>
                                </div>
                      </div>

                </aside>
          
           
              <aside class="col-lg-4 ftco-animate">
               
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>&#8377;{{ total }}</span>
                    </p>
                    <p class="d-flex">
                        <span>Tax</span>
                        <span>&#8377;{{ tax }}</span>
                    </p>
                    
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>&#8377;{{ grand_total }}</span>
                    </p>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static 'images/payments.png' %}" height="26">
                    </p>
                    <center><button id="rzp-button1" class="btn btn-primary btn-block">Make Payment</button></center>

                </div>

              </aside>
              </div>
   
          
        
          </div>
      </section>




      <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
            <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
            <span>Get e-mail updates about our latest shops and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  
    // Define sendData outside of the handler function
    function sendData(response) {
      console.log(response);
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({
          orderID: orderID,
          transID: response.razorpay_payment_id,
          payment_method: payment_method,
          status: status, // Ensure this is the correct status field
        }),
      })
      .then((response) => response.json())
      .then((data) => {
        window.location.href = redirect_url + '?order_number='+ data.order_number+ '&payment_id='+data.transID;
      })
      .catch((error) => {
          console.error('Error:', error);
          // Handle any errors here
      });
    }
  
    var amount = "{{ grand_total }}";
    var url = "{% url 'payments' %}";
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{ order.order_number }}";
    var status = 'Completed';
    var payment_method = 'Razorpay';
    var redirect_url = "{% url 'order_complete' %}"
    var options = {
      key: "rzp_test_jymKzvu6nme9CP", // Enter the Key ID generated from the Dashboard
      amount: amount * 100, // Amount in paise
      currency: "INR",
      name: "Seedsnshovel",
      description: "Purchases",
      image: "https://example.com/your_logo",
      order_id: "{{ payment.id }}", // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        // Call the sendData function
        sendData(response);
      },
      theme: {
        color: "#3399cc",
      },
    };
  
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
      alert(response.error.code);
      alert(response.error.description);
      alert(response.error.source);
      alert(response.error.step);
      alert(response.error.reason);
      alert(response.error.metadata.order_id);
      alert(response.error.metadata.payment_id);
    });
  
    document.getElementById('rzp-button1').onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>
  

{% endblock %}